html
   head
      title="Hello Pug"
      link(rel="stylesheet", href="/Styles/style.css")
   body
      include ./navBar
      p.greetings#people Hello #{id}
      img(src="/images/picture.jfif", alt="view")